{% include 'head.html' %}

Hello {{ name }}!
<div></div>
{% for user in users %}
{{ user.name }}
{% endfor %}
<div></div>
{% if name == 'Fabien' %}
test
{% else %}
12
{% endif %}

{{ random('ABCDEFGHIJKLMN') }}

<div>文章列表</div>

{% article service = "USER.INFO.GET" param = {user_id:name, user_name:"caoge", login_time: {exp: "gt", val: "23"}} data_type = "json" %}
{{ dump(param) }}
<!-- <div>{{ dump(json) }}</div>
<div>{{ _key }}</div>
<div>{{ _field[0] }}</div> -->
{% endarticle %}

<br>
{% set user = "admin" %}
{{ user }}
<script type="text/javascript">
var a = '{{ random('ABCDEFGHIJKLMN') }}';

</script>

</body>
</html>